.productPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  justify-content: center;

  min-height: 95vh;
  margin-bottom: 50px;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  margin-top: 10px;
  gap: 1.5px;
}
