.productPage {
  width: 100%;
  display: flex;
  margin-top: 100px;

  .productContainer {
    width: 100%;
    display: flex;

    // justify-content: center;

    .imgContainer {
      display: flex;
      flex-direction: row;
      width: 45%;
      margin-left: 50px;

      .img {
        justify-content: center;
        align-items: center;
      }
    }

    .infoContainer {
      display: flex;
      flex-direction: column;
      margin: 0px 0px 0px 50px;
      width: 50%;

      div {
        display: flex;
        flex-direction: column;
        margin: 30px 150px 0px 0px;
        gap: 30px;
        text-align: justify;

        p {
          font-size: 1.25rem;
        }
      }
    }

    .categoryButton {
      display: flex;
      align-items: center;
    }
  }
}
