.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    background-color: #ffffff;
    color: #000000;
    height: auto;
    padding-left: 30px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);

    .firstUl {
      list-style: none;
      display: flex;
      width: 80%;
      gap: 60px;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      margin-left: 470px;

      li {
        // padding: 10px 0;
        font-size: 1.5rem;

        a {
          color: #000000;
        }
      }
    }
    .secondUl {
      list-style: none;
      display: flex;
      width: 20%;
      gap: 30px;
      flex: 1;
      margin-left: 300px;
      justify-content: flex-start;
      align-items: center;

      li {
        // padding: 10px 0;
        font-size: 1.5rem;

        a {
          color: #000000;
        }
      }
    }
  }
}

.username {
  margin-right: 15px;
  font-size: 1.25;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #dddee8;
  color: #000000;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;

  ul {
    list-style: none;
    display: flex;
    padding-left: 250px;
    gap: 60px;
    flex: 1;

    li {
      font-size: 1.25rem;

      a {
        color: #000000;
      }
    }
  }
}

.register {
  text-decoration: none;
  justify-content: center;
  align-content: center;
  color: #ffffff;
  padding: 6px 20px 6px 20px;
  border-radius: 15px;
  background: #f0df95;

  text-align: center;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);

  &:hover {
    background: #ffffff;
    color: #000000;
    cursor: pointer;
  }
}
.login {
  text-decoration: none;
  justify-content: center;
  align-content: center;
  color: #ffffff;
  padding: 6px 20px 6px 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  border: 0.25px solid rgb(96, 95, 95);

  &:hover {
    background: #c5c5c5;
    color: #000000;
    border: none;
    cursor: pointer;
  }
}
